
body {
  background: #111;
  color: #fff;
}

.nav,
.footer {
  background: #222;
  border-color: #fff;
}

.category-card,
.joke-card-big,
.joke-generator-start {
  background: #1e1e1e;
  color: #fff;
  border-color: #fff;
  box-shadow: 6px 6px 0 #fff;
}

.hero {
  background: #333;
}
